/* bg */
.bg {
    width: 100%; height: 100%;
}

.bg img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
}

/* header */
header {
    width: 100%; height: 60px;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 18px; font-weight: bold;
    z-index: 2;
    padding: 0 120px;
}

header p {
    font-size: 24px;
}

header .menu {
    display: flex;
    height: 100%;
    gap: 80px;
}

header .menu a {
    display: block;
    height: 100%;
    line-height: 60px;
    position: relative;
    z-index: 10;
}

header .menu a.active {
    color: #222;
    border-bottom: 3px solid #0064A2;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #A9D0EF;
    position: absolute;
    top: 59px; left: 0;
    z-index: 1;
}

/* main_title */
.main_title {
    position: relative;
    font-weight: 800;
    margin-top: 85px;
    padding: 100px 120px 0 120px;
    z-index: 2;
    color: #fff;
}

.main_title p {
    font-size: 40px;
    font-weight: 800;
    filter: drop-shadow(3px 4px 3px rgb(0,0,0,0.25));
}

.main_title p span {
    color: #0064A2;
}

.main_title h1 {
    font-size: 100px;
    font-weight: 800;
    filter: drop-shadow(5px 4px #0064A2);
    margin: 10px 0;
}

/* 프로필 페이지 */
/* profile_tit */
.page_tit {
    font-size: 22px;
    font-weight: bold;
    margin: 115px 0 50px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.profile {
    width: calc(100% - 240px); height: 650px;
    margin: 0 auto 50px auto;
    background-color: #EEF8FF;
    padding: 40px 45px;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 7px rgb(0,0,0,0.15));
    display: flex;   
}

.profile .about {
    flex: 1;
}

.profile .about > p {
    text-align: center;
    font-size: 22px;
}

.profile .about .profile_img {
    width: 100%;
    display: flex; justify-content: center;
    margin: 50px 0;
}

.profile .about .tag {
    font-size: 20px;
    display: flex; gap: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

.profile .info {
    flex: 1;
    display: flex; flex-direction: column;
    justify-content: space-between;
}

.profile .info h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile .info .contents {
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

.exp .txt{
    display: flex;
    justify-content: left;
    gap: 30px;
    margin-bottom: 15px;
}

.exp .txt p:first-child {
    width: 100px;
}

.info > div:nth-child(3) .contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills {
    width: 90px; height: 90px;
    color: #fff;
    background-color: #0064A2;
    border-radius: 100%;
    text-align: center;
    line-height: 90px;
    filter: drop-shadow(4px 4px 3px rgb(0,0,0,0.25));
}

/* 포트폴리오 페이지 */

.tab_menu {
    display: flex;
    align-items: center; justify-content: center;
    gap: 80px;
    font-size: 18px;
    margin-bottom: 100px;
}

.tab_menu p {
    padding: 0 20px;
    height: 30px; line-height: 30px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

.tab_menu p.active {
    background-color: #0064A2;
    color: #fff;
}
  
.portfolio_contents, .lightbox_gallery {
    width: calc(100% - 480px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-bottom: 200px;
}

.portfolio_contents .contents img, .lightbox_gallery img {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0,0.25));
    transition: all 0.2s linear;
}

.portfolio_contents .contents p, .lightbox_gallery p  {
    font-size: 18px;
    text-align: center;
    margin: 30px 0 50px;
}

/* contact 페이지 */
.contact {
    position: relative;
    z-index: 2;
}

.contact > .txt h3{
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.7;
    color: #222;
    font-weight: 800;
}

.contact > .txt h3 span {
    position: relative;
}

.contact > .txt h3 span::before {
    content: "";
    width: 100%; height: 10px;
    background-color: #0064A2;
    position: absolute;
    bottom: -3px; left: 0;
    border-radius: 13px;
    opacity: 0.4;
    /* display: none; */
}

.contact > .txt p{
    font-size: 20px;
    text-align: center;
}

.contact .mail {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 80px; 
    gap: 170px;
}

.contact .mail .txt p {
    font-size: 22px;
    line-height: 2;
}

.contact .mail .QR p {
    font-size: 14px;
    text-align: center;
    margin-top: -15px;
}

.contact .mail .QR img {
    scale: 0.7;
}

/* detail page */
.web_detail {
    padding: 30px 120px;
    background-color: #EEF8FF;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.web_detail > div {
    flex: 1;
}

.web_img {
    width: 100%;
    display: flex;
    align-items: center;
}

.web_img img {
    width: 100%;
    object-fit: cover;
}

.txt_group {
    width: 100%;
    padding: 0 50px;
    margin-left: 100px;
}

.txt_group .sub_tit {
    text-align: center;
    font-size: 20px; font-weight: bold;
    margin-bottom: 0 30px;
}

.txt_group .txt {
    font-size: 16px;
    line-height: 2;
    height: 250px;
    border-bottom: 1px solid #ccc;
}

.txt_group .txt h5 {
    font-size: 16px;
}

.txt_group .txt p {
    padding-left: 15px;
    position: relative;
}

.txt_group .txt p::after {
    content: "";
    position: absolute;
    top: 16px; left: 0;
    width: 3px; height: 3px;
    border-radius: 100%;
    background-color: #222;
}

.txt_group .detail {
    margin: 25px 0;
}

.txt_group .detail p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.txt_group .detail p span {
    padding-right: 50px;
}

.txt_group .link {
    display: flex;
    gap: 30px;
    align-items: center; 
    justify-content: center;
}

.txt_group .link p {
    width: 120px; height: 40px;
    background-color: #0064A2;
    color: #fff;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(2px 3px 1px rgb(0,0,0,0.25));
}

.sub_tit {
    text-align: center;
    font-size: 16px;
    margin: -30px 0;
}


.post-slider{
    /* border:1px solid red; */
    position: relative;
    width:calc(100% - 300px);
    margin: 0px auto;
  }

.post-slider .post-wrapper{
    width: 100%;
    overflow: hidden;
}

.post-slider .post-wrapper .post{
  width: 100%; height: 750px;
  display: inline-block;
  /* background:gray; */
  /* border: 1px solid #000; */
}

.post-slider .post-wrapper .post img {
  object-fit: cover;
  filter: drop-shadow(0 0 7px rgb(0,0,0,0.25));
  scale: 0.6;
  margin: -50px 0 0 30px;
  transition: all 0.5s;
}

.slick-center {
    scale: 1.15;
}

.arrow {
    position: absolute;
    top: 50%; left: 0;
    transform: translate(0, -50%);
    width: 100%;
    /* background-color: #0064A2; */
    display: flex;
    justify-content: space-between;
}

.arrow i {
    font-size: 35px;
    cursor: pointer;
}

.xi-angle-left {
    margin-left: -50px;
}

.xi-angle-right {
    margin-right: -50px;
}


.paging {
    font-size: 14px;
    text-align: center;
    margin-top: -80px;
    color: #666;
}

.UI_link {
    width: 120px; height: 40px;
    background-color: #0064A2;
    color: #fff;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 10px;
    margin: 50px auto 100px;
    font-weight: bold; font-size: 16px;
    filter: drop-shadow(2px 3px 1px rgb(0,0,0,0.25));
}